.buttonBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2f2f31;
  border-radius: 25px;
  width: 200px;
  margin-left: 63px;
  position: fixed;
  z-index: 99;
}

.buttonBackground:hover{
  background-color: #3d3d42;
}

.myNotes:hover{
  background: linear-gradient( #8A99CF 10%, #CE8ACF 74.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.myNotes{
  text-align: center;
  font-size: 25px;
}

.main{
  padding: 40px;
  height: 75vh;
}

.slogun {
  position: absolute;
  left: 145%;
  bottom: 20%;
  font-size: 40px;
  font-weight: 600;

  background: linear-gradient( #8A99CF 10%, #CE8ACF 74.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  animation: slogunMove 0.5s ease-in-out 0.5s forwards;
}

@keyframes slogunMove {
  0% {
    left: 145%;
  }
  100% {
    left: 40%;
  }
}

@media (max-width: 500px) {
  .buttonBackground{
    position: fixed;
  }
  .slogun{
    bottom:0%;
    width: 100%;
  }
}
