.buttonBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2f2f31;
  border-radius: 25px;
  width: 200px;
  margin-left: 63px;
}

.buttonBackground:hover{
  background-color: #3d3d42;
}

.myNotes:hover{
  background: linear-gradient( #8A99CF 10%, #CE8ACF 74.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.myNotes{
  text-align: center;
  font-size: 25px;
}

.main{
  padding: 40px;
  height: 75vh;
}

.pictureOne {
  position: absolute;
  top: 5%;
  right: 110%;

  animation: slideInOne 0.4s ease-in-out 0.4s forwards;
}

.pictureTwo {
  position: absolute;
  bottom: 5%;
  left: 110%;

  animation: slideInTwo 0.55s ease-in-out 0.55s forwards;
}

.pictureThree {
  position: absolute;
  left: 145%;
  bottom: 50%;
  transform: rotate(-20deg);

  animation: slideInThree 0.6s ease-in-out 0.6s forwards;
}

.slogun {
  position: absolute;
  left: 145%;
  bottom: 30%;
  font-size: 40px;
  font-weight: 600;
  transform: translateX(-50%);

  background: linear-gradient( #8A99CF 10%, #CE8ACF 74.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  animation: slogunMove 0.5s ease-in-out 0.5s forwards;
}

@keyframes slogunMove {
  0% {
    left: 145%;
  }
  100% {
    left: 60%;
  }
}

@keyframes slideInOne {
  0% {
    right: 110%;
  }
  100% {
    right: 10%;
  }
}

@keyframes slideInTwo {
  0% {
    left: 110%;
  }
  100% {
    left: 10%;
  }
}

@keyframes slideInThree {
  0% {
    left: 145%;
  }
  100% {
    left: 35%;
  }
}



